@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);

$font-stack: 'Patrick Hand SC', Helvetica;
$primary-color: #41403E;
$background-color: #F0F0D8;

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; 
  background: $background-color;
  font-family: $font-stack;
}

h2 {
  text-align: center;
  font: 3rem $font-stack;
  color: $primary-color;
}

#content {
  width: 300px;
  margin-right: auto;
  margin-left: auto;

  .block {
    margin-bottom: 1rem;
    text-align: center;
  }

  .choice {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

    .yes {
      float: left;
      padding-right: 2rem;
    }
    .no {
      float:left;
    }
  }
  

  .question, .ending {
    clear:both;
  }

  button {
    background: transparent;
    padding: 1rem 1rem;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    color: $primary-color;
    font-size: 1rem;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 1px $primary-color;

    &:hover {
      box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
    }
  }
}

